{% extends 'base.html.twig' %}

{% block title %}Blog index
{% endblock %}

{% block body %}
<main>
	<h1>Latest blogs</h1>

<div class="buttons">
        <a href="{{ path('app_blog_new') }}" class="btn btn-primary">Create new blog</a>    
        </div>
	{% for blog in blogs %}
		<div class="blog-item">
			<h3>
				<a href="{{ path('app_blog_show', {'id': blog.id}) }}">
					{{ blog.title }}
				</a>
			</h3>

			{% set text = blog.body %}
			{{ text|length > 200 ? text|slice(0, 200) ~ '...' : text }}
			<div class="blog-meta">
				<a href="{{ path('app_blog_show', {'id': blog.id}) }}">show</a>
				<a href="{{ path('app_blog_edit', {'id': blog.id}) }}">edit</a>
			</div>
		</div>
	{% else %}
		<td colspan="4">no records found</td>
	{% endfor %}

</main>
{% endblock %}
